# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Виртуальное окружение
venv/
env/
.venv/

# Логи и временные файлы
*.log
*.pot
*.pyc
*.pkl
*.db
*.sqlite3

# IDE и редакторы
.vscode/
.idea/
*.swp
*~

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# dotenv
.env

