.book-card {
  max-width: 540px; /* ширина карточки, как на скриншоте */
}

.card-img {
  width: 150px;   /* фиксированная ширина картинки */
  height: auto;   /* сохраняем пропорции */
  object-fit: cover; /* красиво обрезает при необходимости */
}

.card-body {
  padding: 10px;
}